terraform {
  backend "s3" {
    endpoint = "storage.yandexcloud.net"
    bucket   = "my-terraform-state-bucket"
    key      = "angular-yc/terraform.tfstate"
    region   = "ru-central1"
    encrypt  = true
    workspace_key_prefix = "workspaces"
  }
}
